<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">                
                <form style="margin-top: 100px;" action="/openapp/admin" method="POST">
                    {% csrf_token %}
                    <h5 class="text-center">Guidance Account Creator</h5>
                    <hr>
                    <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>