<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>

    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/appoint.js' %}"></script>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div src="{% static 'img/#firstEver.jpg' %}" class="ratio img-responsive img-circle"
                style="background-image: url({% static request.user.imgpath %})">
            </div>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.username }}</p>
                <li class="active">
                    <a href="/openapp/">
                        <i class="fas fa-user"></i>
                        Counselors
                    </a>
                </li>
                <li>
                    <a href="/openapp/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <i class="fas fa-align-justify icon-color-white"></i>
                <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">
                    <div class="propro">
                        <span class="icon-color-white">{{ request.user.username }}</span>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container" id="calendar">
            <header>
                <!--<h4 class="display-4 mb-4 text-center">{{ today }} {{ year }}</h4>-->
                <h4 class="display-4 mb-4 text-center">{{ today|date:'F Y' }}</h4>
                <div class="row d-none d-sm-flex p-1 bg-dark text-white">
                    <h5 class="col-sm p-1 text-center">Sunday</h5>
                    <h5 class="col-sm p-1 text-center">Monday</h5>
                    <h5 class="col-sm p-1 text-center">Tuesday</h5>
                    <h5 class="col-sm p-1 text-center">Wednesday</h5>
                    <h5 class="col-sm p-1 text-center">Thursday</h5>
                    <h5 class="col-sm p-1 text-center">Friday</h5>
                    <h5 class="col-sm p-1 text-center">Saturday</h5>
                </div>
            </header>
        <div class="row border border-right-0 border-bottom-0">
            {% for i in ran %}
                <input name="college" value="{{ college }}" hidden>
                <input name="" value="" hidden>
                <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                    <h5 class="row align-items-center">
                        <span class="date col-1"></span>
                        <small class="col d-sm-none text-center text-muted"></small>
                        <span class="col-1"></span>
                    </h5>
                  <p class="d-sm-none">No events</p>
                </div>
            {% endfor %}
            {% for day in days %}
                <div onclick="getSchedules('{{ day }}')" id="datebox" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " data-toggle="modal" data-target="#scheduleModal">
                    <h5 class="row align-items-center">
                        <span class="date col-1">{{ day|date:'j' }}</span>
                        <small class="col d-sm-none text-center text-muted">{{ day|date:'l' }}</small>
                        <span class="col-1"></span>
                    </h5>
                    <p class="d-sm-none">No events</p>
                </div>
                {% if day|date:'w' in '6' %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
            {% for i in end %}
                <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                    <h5 class="row align-items-center">
                        <span class="date col-1"></span>
                        <small class="col d-sm-none text-center text-muted"></small>
                        <span class="col-1"></span>
                    </h5>
                  <p class="d-sm-none">No events</p>
                </div>
            {% endfor %}
        </div>
        </div>
        </div>
    </div>

    <!-- Appointment Schedule Modal -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Time Slot Available</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" id="slotter"></div>
          </div>
          <div class="modal-footer">
              <input name="assignee" value="{{ request.user.username }}" hidden>
            <button id="modalBbutton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-primary">Schedule Appointment</button>-->
          </div>
        </div>
      </div>
    </div>

</body>
</html>
