<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/appointments.css' %}">

    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>

    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/appointments.js' %}"></script>
    <script src="{% static 'js/gccnotification.js' %}"></script>

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div class="containers">
                <input name="imgpath" value="{{ request.user.imgpath }}" hidden>
                <input name="username" value="{{ request.user.first_name }}" hidden>
                <img id="propic" src="{{ request.user.imgpath }}" alt="avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Update Photo</div>
                </div>                               
            </div>
            <form action="/openapp/upload_file" method="post" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="myFile" type="file" name="myfile" hidden>
                <button id="uploadButton" type="submit" hidden>Upload</button>
            </form>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <li>
                    <a href="/openapp">
                        <i class="fas fa-clipboard-list"></i>
                        Appointment
                    </a>
                </li>
                <li class="active">
                    <a href="/openapp/appointments">
                        <i class="far fa-calendar-alt"></i>
                        Schedule
                    </a>
                </li>
                <li>
                    <a href="/openapp/gccChat">
                        <i class="fas fa-comment-dots"></i>
                        Chat
                    </a>
                </li>
                <li class="">
                    <a href="/openapp/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>         
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav id="topnavbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <i class="fas fa-align-justify icon-color-white"></i>
                    <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">                    
                        <i id="notifbell" style="color: white; font-size: 25px; cursor:pointer" class="far fa-bell padder" data-toggle="popover"><span class="badge badge-light" hidden>2</span></i>
                        <div id="myprofile" class="propro padder" style="cursor:pointer" data-toggle="popover">
                            <img src="{{ request.user.imgpath }}" alt="avatar" class="myprofileimg" style="margin-right: 10px;width:25px; height: auto;">
                            <span class="icon-color-white">{{ request.user.first_name }}</span>
                        </div>                    
                    </div>
                </div>
            </nav>

        <div class="container" id="calendar">
            <header>
                <!--<h4 class="display-4 mb-4 text-center">{{ today }} {{ year }}</h4>-->
                <h4 class="display-4 mb-4 text-center">{{ today|date:'F Y' }}</h4>
                <div class="row d-none d-sm-flex p-1 bg-dark text-white">
                    <h5 class="col-sm p-1 text-center">Sunday</h5>
                    <h5 class="col-sm p-1 text-center">Monday</h5>
                    <h5 class="col-sm p-1 text-center">Tuesday</h5>
                    <h5 class="col-sm p-1 text-center">Wednesday</h5>
                    <h5 class="col-sm p-1 text-center">Thursday</h5>
                    <h5 class="col-sm p-1 text-center">Friday</h5>
                    <h5 class="col-sm p-1 text-center">Saturday</h5>
                </div>
            </header>
        <div class="row border border-right-0 border-bottom-0">
            {% for i in ran %}
                <input name="college" value="{{ request.user }}" hidden>
                <input name="" value="" hidden>
                <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                    <h5 class="row align-items-center">
                        <span class="date col-1"></span>
                        <small class="col d-sm-none text-center text-muted"></small>
                        <span class="col-1"></span>
                    </h5>
                  <p class="d-sm-none">No events</p>
                </div>
            {% endfor %}
            {% for day in days %}
                <div onclick="getSchedules('{{ day }}')" id="datebox" class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " data-toggle="modal" data-target="#scheduleModal">
                    <h5 class="row align-items-center">
                        <span class="date col-1">{{ day|date:'j' }}</span>
                        <small class="col d-sm-none text-center text-muted">{{ day|date:'l' }}</small>
                        <span class="col-1"></span>
                    </h5>
                    <p class="d-sm-none">No events</p>
                </div>
                {% if day|date:'w' in '6' %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
            {% for i in end %}
                <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                    <h5 class="row align-items-center">
                        <span class="date col-1"></span>
                        <small class="col d-sm-none text-center text-muted"></small>
                        <span class="col-1"></span>
                    </h5>
                  <p class="d-sm-none">No events</p>
                </div>
            {% endfor %}
        </div>
        </div>
        </div>
    </div>

    <!-- Appointment Schedule Modal -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <h5 class="text-center">Time Slot Schedule</h5>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">                            
                            <div class="timebox">
                                <span>8:00AM - 9:00AM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="0A" onclick="setAvailable('8:00AM - 9:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionA" autocomplete="off" checked value="a"> A
                                    </label>
                                    <label id="0B" onclick="setNotAvailable('8:00AM - 9:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionA" autocomplete="off" value="b"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>9:00AM - 10:00AM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="1A" onclick="setAvailable('9:00AM - 10:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionB" autocomplete="off" checked> A
                                    </label>
                                    <label id="1B" onclick="setNotAvailable('9:00AM - 10:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionB" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>10:00AM - 11:00AM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="2A" onclick="setAvailable('10:00AM - 11:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionC" autocomplete="off" checked> A
                                    </label>
                                    <label id="2B" onclick="setNotAvailable('10:00AM - 11:00AM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionC" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>11:00AM - 12:00PM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="3A" onclick="setAvailable('11:00AM - 12:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionD" autocomplete="off" checked> A
                                    </label>
                                    <label id="3B" onclick="setNotAvailable('11:00AM - 12:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionD" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="carousel-item">
                           <div class="timebox">
                                <span>1:00PM - 2:00PM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="4A" onclick="setAvailable('1:00PM - 2:00PM')"class="btn btn-outline-primary">
                                        <input type="radio" name="optionE" autocomplete="off" checked> A
                                    </label>
                                    <label id="4B" onclick="setNotAvailable('1:00PM - 2:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionE" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>2:00PM - 3:00PM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="5A" onclick="setAvailable('2:00PM - 3:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionF" autocomplete="off" checked> A
                                    </label>
                                    <label id="5B" onclick="setNotAvailable('2:00PM - 3:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionF" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>3:00PM - 4:00PM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="6A" onclick="setAvailable('3:00PM - 4:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionG" autocomplete="off" checked> A
                                    </label>
                                    <label id="6B" onclick="setNotAvailable('3:00PM - 4:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionG" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                            <div class="timebox">
                                <span>4:00PM - 5:00PM</span>
                                <span class="timebutton btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="7A" onclick="setAvailable('4:00PM - 5:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionH" autocomplete="off" checked> A
                                    </label>
                                    <label id="7B" onclick="setNotAvailable('4:00PM - 5:00PM')" class="btn btn-outline-primary">
                                        <input type="radio" name="optionH" autocomplete="off"> NA
                                    </label>
                                </span>
                            </div>
                        </div>
                                           
                    </div>                   
                    <div class="text-center">
                        <i id="prevslide" class="fas fa-circle"></i>
                        <i id="nextslide" class="far fa-circle"></i>
                    </div>
              </div>
            <!-- <div class="row" id="slotter"></div> -->
          </div>
          <!-- <div class="modal-footer">
              <input name="assignee" value="{{ request.user.username }}" hidden>
              <input name="createappointments" class="form-control" type="text">
              <button type="button" class="btn btn-primary" onclick="createappointments()">Create Schedule</button>
              <button data-dismiss="modal" id="modalBbutton" type="button" class="btn btn-primary" hidden></button>
          </div> -->
        </div>
      </div>
    </div>

</body>
</html>
