<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>

   <nav id="navbar" class="sticky">
    <ul>
        <div class="row">
            <div class="col-md-5 navbar-brand  "><h3>  Open App </h3></div>
            <div class="col-md-2 offset-md-4 list-des"><button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#loginModal">Log In</button></div>
        </div>
    </ul>
    </nav>

    <section style="background-image: url('{% static 'img/bg.png' %}'); height: 745px;width: 1519px;">
    <div class="row" style="padding-top: 200px;">
        <div class="col-md-6 offset-md-1 "><h1><strong>Get help. Get better. </strong></h1>  </div>
    </div>
    <div class="row" >
        <div class="col-md-6 offset-md-1 text-des">No matter what's troubling you, get the support you need, right here, right now. </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6 offset-md-1">
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#registerModal">Chat Now!</button>
        <button type="button" class="btn btn-outline-warning">Book Appointment!</button>
        </div>
    </div>
    </section>


    <!-- MODAL FOR LOGIN ---------------------------------------------------------------------------------------------------- -->
     <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <div class="row">
                <div >
                    <div class="card text-center">
                            <form class="card-body" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="username" type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <button id="loginButton" type="button" class="btn btn-primary form-control">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end  modal login --------------------------------------------------------------------------------------------------------- -->

    <!-- Lem ikaw nay bahala anang ma close ang isa ka modal kung i open ang isa HAHAHAHA --->

     <!-- MODAL FOR Register ---------------------------------------------------------------------------------------------------- -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRegister" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
                    <div class="row">
                        <div >
                            <div class="card text-center">
                                <div class="card-header">Fill up the form provided.</div>
                                    <form class="card-body" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input name="refcode" type="text" class="form-control" placeholder="Reference code">
                                        <span style="font-size: 12px"><a href="#"> Get Reference code</span>
                                    </div>
                                    <div class="form-group">
                                        <input name="username" type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input name="password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <button id="registerButton" type="button" class="btn btn-primary form-control">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div > Have an account? <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#loginModal">Log In</button> </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end  modal Refister --------------------------------------------------------------------------------------------------------- -->


    <script type="text/javascript" src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
</body>
</html>
