<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/gcc.css' %}">

    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/message.js' %}"></script>

    <meta charset="UTF-8">
    <title>OpenApp</title>

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div class="containers">
                <input name="imgpath" value="{{ request.user.imgpath }}" hidden>
                <input name="username" value="{{ request.user.username }}" hidden>
                <img src="{{ request.user.imgpath }}" alt="avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Update Photo</div>
                </div>                               
            </div>
            <form action="/openapp/upload_file" method="post" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="myFile" type="file" name="myfile" hidden>
                <button id="uploadButton" type="submit" hidden>Upload</button>
            </form>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <li class="">
                    <a href="/openapp">
                        <i class="far fa-calendar-check"></i>
                        Appointment
                    </a>
                </li>
                <li class="">
                    <a href="/openapp/appointments">
                        <i class="far fa-calendar-check"></i>
                        Schedule
                    </a>
                </li>
                <li class="active">
                    <a href="/openapp/gccChat">
                        <i class="fas fa-inbox"></i>
                        Chat
                    </a>
                </li>
                <li class="">
                    <a href="/openapp/settings">
                        <i class="far fa-calendar-check"></i>
                        Settings
                    </a>
                </li>         
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav id="topnavbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <i class="fas fa-align-justify icon-color-white"></i>
                    <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">                    
                        <i id="notifbell" style="color: white; font-size: 25px; cursor:pointer" class="far fa-bell padder" data-toggle="popover"><span class="badge badge-light" hidden>2</span></i>
                        <div id="myprofile" class="propro padder" style="cursor:pointer" data-toggle="popover">
                            <img src="{{ request.user.imgpath }}" alt="avatar" class="myprofileimg" style="margin-right: 10px;width:25px; height: auto;">
                            <span class="icon-color-white">{{ request.user.first_name }}</span>
                        </div>                    
                    </div>
                </div>
            </nav>
            <div class="inbox_people">
              <div class="inbox_chat">
                  {% for people in chat_list %}
                  <div class="chat_list">
                      <input value="{{ people }}" hidden>
                      <div class="chat_people">
                          <!--<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>-->
                            <div class="chat_ib">
                                <h5>{{ people }}
                                     <!--<span class="chat_date">Dec 25</span>-->
                                </h5>
                                <p>Test, which is a new approach to have all solutions
                                    astrology under one roof.</p>
                            </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
            </div>


            <div class="container-fluid">

                <div class="msghistory">
                    {% for message in messages%}
                        {% if  message.sender == request.user %}
                            <div class="mssg outgoing_msg">
                                <div class="sent_msg">
                                <p>{{ message.message }}</p>
                                <span class="time_date">{{ message.date_created }}</span> </div>
                            </div>
                        {% else %}
                            <div class="mssg incoming_msg">
                                <div class="incoming_msg_img"> <img src="{% static imgpath %}" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{ message.message }}</p>
                                        <span class="time_date">{{ message.date_created }}</span>
                                    </div>
                                  </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <nav class="navbar navbar-light bg-light" id="messagebar">
                <div class="input-group mb-3">
                    {% csrf_token %}
                    <input id="chatmessage" name="chatmessage" type="text" class="form-control" placeholder="What's going on?" aria-label="Username" aria-describedby="basic-addon1">
                    <input name="senderinput" type="text" value="{{ request.user }}" hidden>
                    <input name="receiverinput" type="text" value="{{ college|lower }}" hidden>
                     <div class="input-group-prepend">
                    <i class="input-group-text fas fa-paper-plane sendButton" id="sendButton"></i>
                  </div>
                </div>
            </nav>
            </div>
        </div>
    </div>
</body>
</html>
