<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">

    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>
    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>

    <div class="wrapper">
        <nav id="sidebar">        
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div class="containers">
                <input name="imgpath" value="{{ request.user.imgpath }}" hidden>
                <input name="username" value="{{ request.user.username }}" hidden>
                <img id="propic" src="{{ request.user.imgpath }}" alt="avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Update Photo</div>
                </div>                               
            </div>
            <form action="/openapp/upload_file" method="post" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="myFile" type="file" name="myfile" hidden>
                <button id="uploadButton" type="submit" hidden>Upload</button>
            </form>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.username }}</p>
                <li class="active">
                    <a href="/openapp">
                        <i class="fas fa-user"></i>
                        Counselors
                    </a>
                </li>
                <li>
                    <a href="/openapp/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav id="topnavbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <i class="fas fa-align-justify icon-color-white"></i>
                    <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">                    
                        <i id="notifbell" style="color: white; font-size: 25px; cursor:pointer" class="far fa-bell padder" data-toggle="popover"><span class="badge badge-light" hidden>2</span></i>
                        <div id="myprofile" class="propro padder" style="cursor:pointer" data-toggle="popover">
                            <img src="{{ request.user.imgpath }}" alt="avatar" class="myprofileimg" style="margin-right: 10px;width:25px; height: auto;">
                            <span class="icon-color-white">{{ request.user.username }}</span>
                        </div>                    
                    </div>
                </div>
            </nav>

            <div id="minime" class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 heading">Good Evening, {{ request.user.username }}!</div>
                    <div class="col-sm-12">
                        <div class="row" id="collegegroup">
                            <a class="collegebox text-center col-md-2 offset-md-2" href="/openapp/profile/SCS">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ scs.imgpath }}" alt="...">
                                    <div class="guidancename">SCS</div>
                                </div>
                            </a>
                            <a class="collegebox text-center col-md-2" href="/openapp/profile/COET">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ coet.imgpath }}" alt="...">
                                    <div class="guidancename">COET</div>
                                </div>
                            </a>
                            <a class="collegebox text-center col-md-2" href="/openapp/profile/CSM">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ csm.imgpath }}" alt="...">
                                    <div class="guidancename">CSM</div>
                                </div>
                            </a>
                            <a class="collegebox text-center col-md-2" href="/openapp/profile/CED">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ ced.imgpath }}" alt="...">
                                    <div class="guidancename">CED</div>
                                </div>
                            </a>

                            <a class="collegebox text-center col-md-2 offset-md-3" href="/openapp/profile/CASS">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ cass.imgpath }}" alt="...">
                                    <div class="guidancename">CASS</div>
                                </div>

                            </a>
                            <a class="collegebox text-center col-md-2" href="/openapp/profile/CBAA">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ cbaa.imgpath }}" alt="...">
                                    <div class="guidancename">CBAA</div>
                                </div>
                            </a>
                            <a class="collegebox text-center col-md-2" href="/openapp/profile/CON">
                                <div class="guidancebox">
                                    <img class="collegepic" src="{{ con.imgpath }}" alt="...">
                                    <div class="guidancename">CON</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center footer">
                        <p>
                            "Blessed are the peacemakers, for they shall be called sons of God!" - Jesus
                        </p>
                    </div>
                </div>
            </div>
    </div>
    </div>

</body>
</html>
