<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/information.css' %}">

    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>
    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/information.js' %}"></script>
    <div class="wrapper">
        <nav id="sidebar">        
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div class="containers">
                <input name="imgpath" value="{{ request.user.imgpath }}" hidden>
                <input name="username" value="{{ request.user.username }}" hidden>
                <img id="propic" src="{{ request.user.imgpath }}" alt="avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Update Photo</div>
                </div>                               
            </div>
            <form action="/openapp/upload_file" method="post" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="myFile" type="file" name="myfile" hidden>
                <button id="uploadButton" type="submit" hidden>Upload</button>
            </form>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.username }}</p>
                <li>
                    <a href="/openapp">
                        <i class="fas fa-user"></i>
                        Counselors
                    </a>
                </li>
                <li>
                    <a href="/openapp/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav id="topnavbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <i class="fas fa-align-justify icon-color-white"></i>
                    <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">                    
                        <i id="notifbell" style="color: white; font-size: 25px; cursor:pointer" class="far fa-bell padder" data-toggle="popover"><span class="badge badge-light" hidden>2</span></i>
                        <div id="myprofile" class="propro padder" style="cursor:pointer" data-toggle="popover">
                            <img src="{{ request.user.imgpath }}" alt="avatar" class="myprofileimg" style="margin-right: 10px;width:25px; height: auto;">
                            <span class="icon-color-white">{{ request.user.username }}</span>
                        </div>                    
                    </div>
                </div>
            </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 heading" style="color: black">Information Sheet<hr></div>                
                <form class="col-sm-6 offset-sm-3" action="/openapp/book" method="GET">
                    <input name="schedule" value="{{ schedule }}" hidden>
                    <div class="form-group row">
                      <label for="name" class="col-sm-2 col-form-label">Name :</label>
                      <div class="col-sm-10">
                        <input name="name" type="text" class="form-control" value=''>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">ID No :</label>
                        <div class="col-sm-10">
                          <input name="id" type="text" class="form-control" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">College :</label>
                        <div class="col-sm-10">
                          <input name="college" type="text" class="form-control" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Yr. & Course :</label>
                        <div class="col-sm-10">
                          <input name="yrcourse" type="text" class="form-control" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Gender :</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Location :</label>
                        <div class="col-sm-10">
                          <input name="location" type="text" class="form-control" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 offset-sm-4">
                            <button type="submit" class="btn btn-primary mb-2">Book Appointment</button>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
        <div class="modal fade approvalnotifmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body row">
                    <div class="col-sm-2 text-center">
                        <i style="color: blue; -webkit-transform: scale(3) translate(5px, 3px)" class="fas fa-check-circle"></i>
                    </div>
                    <div class="col-sm-10">
                        <h6 style="font-size: 20px;" class="text-center">
                            Your appointment is pending for approval from the GCC.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    {% if success %}
    <script type="text/javascript">
        $('.approvalnotifmodal').modal('show');
    </script>
    {% endif %}
</body>
</html>