<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.8.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    
    <meta charset="UTF-8">
    <title>OpenApp</title>
</head>
<body>

    <script src="{% static 'bootstrap-4.3.1-dist/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>
    <script src="{% static 'js/assessment.js' %}"></script>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3><b>OPEN APP</b></h3>
            </div>
            <div class="containers">
                <input name="imgpath" value="{{ request.user.imgpath }}" hidden>
                <input name="username" value="{{ request.user.username }}" hidden>
                <img id="propic" src="{{ request.user.imgpath }}" alt="avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">Update Photo</div>
                </div>                               
            </div>
            <form action="/openapp/upload_file" method="post" enctype="multipart/form-data" hidden>
                {% csrf_token %}
                <input id="myFile" type="file" name="myfile" hidden>
                <button id="uploadButton" type="submit" hidden>Upload</button>
            </form>
            <ul class="list-unstyled components">
                <p class="text-center">{{ request.user.username }}</p>
                <li class="active">
                    <a href="/openapp">
                        <i class="fas fa-user"></i>
                        Counselors
                    </a>
                </li>
                <li>
                    <a href="/openapp/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/openapp/logout">
                        <i class="fas fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav id="topnavbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <i class="fas fa-align-justify icon-color-white"></i>
                    <div class="nav navbar-nav ml-auto" id="navbarSupportedContent">                    
                        <i id="notifbell" style="color: white; font-size: 25px; cursor:pointer" class="far fa-bell padder" data-toggle="popover"><span id="notifLen" class="badge badge-light"></span></i>
                        <div id="myprofile" class="propro padder" style="cursor:pointer" data-toggle="popover">
                            <img src="{{ request.user.imgpath }}" alt="avatar" class="myprofileimg" style="margin-right: 10px;width:25px; height: auto;">
                            <span class="icon-color-white">{{ request.user.username }}</span>
                        </div>                    
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 heading">{{ college }} Guidance Counselor</div>                
                    <div class="col-md-4 offset-md-4 text-center guidanceprofile">                                                
                        <img class="guidanceimg" src="{{ imgpath }}">
                        <div class="guidanceinfo">                            
                            <div class="guidanceinfoname">{{ guidancefirstname }} {{ guidancelastname }}</div>
                            <div class="guidanceinfocourse">{{ guidancecourse }}</div>
                            <div>{{ guidancebirthday }}</div>
                            <div>{{ guidancelocation }}</div>
                        </div>
                        <div>
                            <!-- <button type="button" class="btn btn-primary"><a href="/openapp/appoint/{{ user.username|upper }}">Appoint</a></button> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".assessment-modal"><a>Appoint</a></button>
                            <button type="button" class="btn btn-primary"><a href="/openapp/chat/{{ user.username|upper }}">Chat</a></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <div class="modal fade assessment-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- <div class="modal-header"></div> -->
                <div class="moda-body" style="min-height: 500px;">
                    <div id="assessmentHeader" class="text-center" style="-webkit-transform: translateY(150px)">
                        <h5>Self-Assessment Required</h5>
                        <button id="getStartedBtn" class="btn btn-primary">Get Started</button>
                    </div>
                    <div id="assessmentBody" class="" style="margin-top: 20px;">
                        <h4 class="text-center">Help us assess you.</h4>
                        <h6 class="text-center">Please fill up this brief questionnaire.</h6>  
                        <hr>      
                        <div id="assessmentCarousel" class="carousel slide" data-ride="false" style="min-height: 300px; padding-top: 50px;">
                            <form class="carousel-inner" action="/openapp/appoint/{{ user.username|upper }}" method="POST">
                                {% csrf_token %}
                                <div class="carousel-item active form-group offset-sm-3 col-sm-6">
                                    <p>What is your gender?</p>
                                    <div class="form-check">
                                        <input value="Male" name="genderInput" class="form-check-input" type="radio" checked>
                                        <label>Male</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Female"  name="genderInput" class="form-check-input" type="radio">
                                        <label>Female</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Non-binary" name="genderInput" class="form-check-input" type="radio">
                                        <label>Non-binary</label>
                                    </div>
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>How old are you?</p>
                                    <select name="ageInput" class="form-control">
                                        <option value="">Select age</option>
                                        <script>
                                            for(var i = 1; i < 100; i++) {
                                                $('[name=ageInput]').append('<option value="' + i + '">' + i + '</option>')
                                            }
                                        </script>
                                    </select>
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>What is your relationship status?</p>
                                    <div class="form-check">
                                        <input value="Single" name="statusInput" class="form-check-input" type="radio" checked>
                                        <label>Single</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="In a relationship" name="statusInput" class="form-check-input" type="radio">
                                        <label>In a relationship</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Married" name="statusInput" class="form-check-input" type="radio">
                                        <label>Married</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Separated" name="statusInput" class="form-check-input" type="radio">
                                        <label>Separated</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Divorced" name="statusInput" class="form-check-input" type="radio">
                                        <label>Divorced</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Widowed" name="statusInput" class="form-check-input" type="radio">
                                        <label>Widowed</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="It's complicated" name="statusInput" class="form-check-input" type="radio">
                                        <label>It's complicated</label>
                                    </div>
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>How would you rate the social support that you have, such as family, and/or friends?</p>
                                    <div class="form-check">
                                        <input value="Good" name="supportInput" class="form-check-input" type="radio" checked>
                                        <label>Good</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Fair" name="supportInput" class="form-check-input" type="radio">
                                        <label>Fair</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Poor" name="supportInput" class="form-check-input" type="radio">
                                        <label>Poor</label>
                                    </div>
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>Have you been in counseling or therapy before?</p>
                                    <div class="form-check">
                                        <input value="Yes" name="counselingInput" class="form-check-input" type="radio" checked>
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="No" name="counselingInput" class="form-check-input" type="radio">
                                        <label>No</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>How would you rate your current physical health?</p>
                                    <div class="form-check">
                                        <input value="Good" name="healthRatingInput" class="form-check-input" type="radio" checked>
                                        <label>Good</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Fair" name="healthRatingInput" class="form-check-input" type="radio">
                                        <label>Fair</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Poor" name="healthRatingInput" class="form-check-input" type="radio">
                                        <label>Poor</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>How would you rate your current sleeping habits?</p>
                                    <div class="form-check">
                                        <input value="Good" name="sleepingHabitsInput" class="form-check-input" type="radio" checked>
                                        <label>Good</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Fair" name="sleepingHabitsInput" class="form-check-input" type="radio">
                                        <label>Fair</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Poor" name="sleepingHabitsInput" class="form-check-input" type="radio">
                                        <label>Poor</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>How would you rate your current eating habits?</p>
                                    <div class="form-check">
                                        <input value="Good" name="eatingRatingInput" class="form-check-input" type="radio" checked>
                                        <label>Good</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="Fair" name="eatingRatingInput" class="form-check-input" type="radio">
                                        <label>Fair</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Poor" name="eatingRatingInput" class="form-check-input" type="radio">
                                        <label>Poor</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>In the past month, have you been experiencing overwhelming sadness, grief or depression?</p>
                                    <div class="form-check">
                                        <input value="Yes" name="depressionInput" class="form-check-input" type="radio" checked>
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="No" name="depressionInput" class="form-check-input" type="radio">
                                        <label>No</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Sometimes" name="depressionInput" class="form-check-input" type="radio">
                                        <label>Sometimes</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>In the past month, do you find yourself worrying almost all the time?</p>
                                    <div class="form-check">
                                        <input value="Yes" name="worryingInput" class="form-check-input" type="radio" checked>
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="No" name="worryingInput" class="form-check-input" type="radio">
                                        <label>No</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Sometimes" name="worryingInput" class="form-check-input" type="radio">
                                        <label>Sometimes</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6">
                                    <p>In the past month, have you often experience fast heartbeats, gastric pain, headaches/nausea, excessive sweating, feeling weak, and/or frequent toilet breaks?</p>
                                    <div class="form-check">
                                        <input value="Yes" name="heartbeatsInput" class="form-check-input" type="radio" checked>
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input value="No" name="heartbeatsInput" class="form-check-input" type="radio">
                                        <label>No</label>
                                    </div>    
                                    <div class="form-check">
                                        <input value="Yes, but not often" name="heartbeatsInput" class="form-check-input" type="radio">
                                        <label>Yes, but not often</label>
                                    </div>                                   
                                </div>
                                <div class="carousel-item form-group offset-sm-3 col-sm-6 text-center">
                                    <p class="text-center">One more step!</p>
                                    <button class="btn btn-primary text-center"><a>Finish Assessment</a></button>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#assessmentCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left" style="color: black; font-size: 30px;"></i></span>
                                <span class="sr-only">Previous</span>
                                
                            </a>
                            <a class="carousel-control-next" href="#assessmentCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right" style="color: black; font-size: 30px;"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </form>           
                    </div>                   
                </div>
            </div>
        </div>
    </div>

</body>
</html>
