/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


.card {
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*padding: 15px 10px;*/
    padding: 23px 10px;
    background: #d81a1a;
    border: none;
    border-radius: 0;
    /*margin-bottom: 10px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2b2a2b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #cc1200;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 12px;
    font-size: 0.9em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 40px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*GUIDANCE BOX*/

#collegegroup {
    margin-top: 100px;
}

.collegebox {

}

.guidancebox {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.guidancebox:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.0);
    color: black;
}

.guidancebox>img {
    transform: scale(0.7);
}

.guidancename {
    transform: translate(0px, -10px);
    font-weight: bold;
}

.icon-color-white {
    color: white;
}

.propro, .propro>span {
    margin-left: 10px
}

.guidanceprofile {
    margin-top: 40px;
}

.guidancefullname, .guidanceinfo {
    padding-top: 10px;
}

.guidanceinfo {
    padding-bottom: 10px;
}

/*CALENDAR*/

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        /*height: 14.2857vw;*/
        height: 100px;
    }
}

#calendar {

}

#messagebar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;

}

.msghistory {
  height: 516px;
  overflow-y: auto;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
    transform: translate(0px, -40px) scale(0.3);

}

.received_msg {
    margin-top: 10px;
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 20px;
  color: #646464;
  /*font-size: 14px;*/
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

 .received_withd_msg { width: 57%;}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 20px;
  /*font-size: 14px;*/
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

 .sent_msg {
  float: right;
  width: 46%;
}

 /*REGISTER*/
.navbar-brand {
    color: white;
    padding-left: 20px;
}

.generate-card {
    margin-top: 100px;


}

.loader {
    margin-left: 100px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
    visibility: hidden;
}

.sendButton:hover {
    cursor: pointer;
}

#datebox:hover {
    cursor: pointer;
}

.alert-available:hover {
    cursor: pointer;
    background-color: #1c7430;
    color: white;
}

.alert-cancel:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
}


/* asdasdasd */
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}

/*.inbox_chat { height: 600px; overflow-y: scroll;}*/

.inbox_chat {
    /*width: 450px;*/
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    height: 600px;
    z-index: 999;
    /*background: #2b2a2b;*/
    color: #fff;
    overflow-y: scroll;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.chat_people:hover {
    cursor: pointer;
}

.active_chat{ background:#ebebeb;}

.chat_people{ overflow:hidden; clear:both;}

.chat_img {
  float: left;
  width: 11%;
}

img{ max-width:100%;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.alert-notavail:hover {
    background-color: #d0001d;
    color: white;
    cursor: pointer;
}

#content > div > div > div:nth-child(1) {
    padding-top: 10px;
}

/*.caption div {*/
    /*box-shadow: 0 0 5px #C8C8C8;*/
    /*transition: all 0.3s ease 0s;*/
/*}*/
/*.img-circle {*/
    /*border-radius: 50%;*/
/*}*/
/*.img-circle {*/
    /*border-radius: 0;*/
/*}*/

/*.ratio {*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    /*height: 0;*/
    /*padding-bottom: 100%;*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
/*.img-circle {*/
    /*border-radius: 50%;*/
/*}*/
/*.img-responsive {*/
    /*display: block;*/
    /*height: auto;*/
    /*max-width: 100%;*/
    /**/
/*}*/